html{
    background-image: url(./images/background.jpg);
}
h1{
    color:rgb(199, 190, 18);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
}
.Anime{
    color:rgb(182, 22, 59);
    font-weight: bold;
    font-size: 2.5rem;
}
h2{
    color:rgb(101, 230, 62);
    font-family:'Courier New', Courier, monospace;
    animation-name: shiva;
    animation-duration: 2s;
    position:relative;
}
ul{
    list-style-type: none;
}
li{
    color:rgb(239, 234, 234);
    text-size-adjust: 2rem;
    text-align: center;
    width: 152px;
    height: 55px;
    margin: auto;
    padding: auto;
   display: flex;
    justify-content: center; 
   
    align-items: center;
}
.image{
    height:150px;
    width:150px;
    border:2px solid rgb(181, 215, 219);
    position: relative;
    animation-name: shiva2;
    animation-duration: 2s;
}
.naruto{
    display:flex;
    gap:30px;
    flex-wrap: wrap;
}
.boruto{
    float:right;
}
.size{
    height: 150px;
    width: 150px;

}


@keyframes shiva {
    from{
        left: 0px;
    }
    to{
        left: 400px;
    }
    
}
@keyframes shiva2 {
    from{
        top:0px;
    }
    to{
        top: 400px;
    }
    
}

@media (max-width:992px) {
    .naruto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    .image{
        width: 100%;
        height: 100%;
    }
    li{
        color:rgb(239, 234, 234);
        font-size: 1.5rem;
        text-align: center;
        width: 152px;
        height: 100px;
        margin: auto;
        padding: auto;
        display: flex;
        justify-content: center; 
       
        align-items: center;
    }
    
}